.home title-img {
 background: linear-gradient(to top, rgba(30,35,38,0.8), rgba(30,35,38,1)),
  url(../images/pexels-pixabay-461060.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Info-card */
.card-stats {
    transition: .5s;
    background: #fff3e0 !important ;
}

.card-stats:hover {
    margin-top: -10px;
    background: #faf8f8 !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

/* About */
.img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 25px solid var(--light);
    border-radius: 6px;
    z-index: -1;
}
.contact-title .title-img {
  background: linear-gradient(to top, rgba(30,35,38,0.8), rgba(30,35,38,1)),
  url(../../public/images/carousel/pexels-orlovamaria-4913487-grande.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}


/* Produits */
.product-item {
    transition: .5s;
}

.product-item:hover {
    background: #FFC107 !important;
}

.product-item:hover * {
    color: #fff;
}

.product-item:hover .border-warning {
    border-color: #fff !important;
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .product-overlay {
    height: 100%;
    opacity: 1;
}
