.home title-img {
 background: linear-gradient(to top, rgba(30,35,38,0.8), rgba(30,35,38,1)),
  url(../images/pexels-pixabay-461060.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Info-card */
.card {
    transition: .5s;
    background: #fff3e0 !important ;
}

.card:hover {
    margin-top: -10px;
    background: #faf8f8 !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

/* About */
.img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 25px solid var(--light);
    border-radius: 6px;
    z-index: -1;
}