<div class="container-fluid text-light my-4 mb-0 py-3 fade-in-up" style="background-color: #1E1916;">
  <div class="container py-3">
    <div class="row g-5">
      <div class='col-lg-3 col-md-6'>
        <h3 class='text-light mb-3'>Où nous trouver</h3>
        <p class="mb-2" style="width: 150%;">
          <i class="fa fa-map-marker-alt me-3"></i>
          2448 Route de <br> Saint Julien 69460 Blacé
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 6 17 51 54 08</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i> didier.genetier7@gmail.com</p>
        <div class='d-flex pt-2'>
          <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class='col-lg-3 col-md-6'>
        <h4 class='ms-2 mt-'>Links</h4>
        <ul class="list-unstyled">
          <li><a class='btn btn-link text-light' style="text-decoration: none;" href="">About</a></li>
          <li><a class='btn btn-link text-light' style="text-decoration: none;" href="">Services</a></li>
          <li><a class='btn btn-link text-light' style="text-decoration: none;" href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Copyright -->
<div class="container-fluid copyright text-light py-3 wow fadeIn bg-black " data-wow-delay="0.1s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; <a href="#">Nom du site</a>, Tous droits réservés.
      </div>
      <div class="col-md-6 text-center text-md-end">
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        Design: <a href="">Jean-Michel CONTI</a>
      </div>
    </div>
  </div>
</div>