<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produits: Pain</title>
  <link rel="shorcut icon" href="../../public/images/logo/Logo-vecteur-2.png">
  <link rel="stylesheet" href="../../public/css/bootstrap-5.3.8-dist/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- Header & Navbar -->
  <header class='header bg-dark text-white fixed-top mb-5' style='z-index: 100;'>
    <nav class="navbar navbar-expand-lg bg-dark fw-bold">
      <div class="container-fluid">

        <a class="navbar-brand" href="../pages/home.html">
          <img src="../../public/images/logo/Logo-vecteur-2.png" alt="Bootstrap" width="50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon custom-toggler"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center me-5" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="../pages/home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/produits.html">Produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/galerie.html">Galerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <nav class="mininav navbar navbar-expand-lg mt-5 pt-4">
    <div class="container-fluid">
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" href="./home.html">Home |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="./produits.html">Produits |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Pain</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <section class='pain'>
    <div class="picture d-flex justify-content-center">
      <img src="../../public/images/produits/Pains.jpg" class="img-fluid w-50 align-items-center" alt="...">
    </div>
    <div class="description text-center mt-5">
      <h1 class="text-center">20 variétés de pains artisanaux à l’ancienne</h1>
      <p class=""><strong>Des pains bio façonnés dans le respect des traditions</strong> </p>
      <p class="">
        Nos pains artisanaux sont élaborés selon des méthodes ancestrales, avec des farines biologiques, <br>
        des
        fermentations longues et un savoir-faire artisanal transmis avec passion. <br>
        Chaque pain est pétri, façonné et cuit sur place afin d’offrir une croûte croustillante, une mie alvéolée et
        des saveurs authentiques.
      </p>
      <p class="">

      <div class="container mt-5">
        <div class="row text-center">

          <!-- Colonne 1 -->
          <div class="col-md-4">
            <ol class="list-unstyled">
              <li class="d-flex justify-content-between">
                <span>Oriental (500g)</span>
                <span class="fw-bold">3,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Complet, Bise</span>
                <span class="fw-bold">5,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>5 Céréales</span>
                <span class="fw-bold">6,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Tournelin</span>
                <span class="fw-bold">6,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Intégral graines (830g)</span>
                <span class="fw-bold">6,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Courges</span>
                <span class="fw-bold">6,80 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>PS Glutt (sans gluten, 750g)</span>
                <span class="fw-bold">6,80 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Seigle</span>
                <span class="fw-bold">6,80 €</span>
              </li>
            </ol>
          </div>

          <!-- Colonne 2 -->
          <div class="col-md-4">
            <ol class="list-unstyled" start="9">
              <li class="d-flex justify-content-between">
                <span>Chapi</span>
                <span class="fw-bold">6,80 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Rouge de Bordeaux</span>
                <span class="fw-bold">7,10 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Samaripain</span>
                <span class="fw-bold">7,10 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Noisette & Raisin</span>
                <span class="fw-bold">7,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Chanvre & Amande</span>
                <span class="fw-bold">7,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Châtaigne</span>
                <span class="fw-bold">7,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Engrain & Lin (650g)</span>
                <span class="fw-bold">7,40 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Pain DOMI (au kg)</span>
                <span class="fw-bold">7,40 €</span>
              </li>
            </ol>
          </div>

          <!-- Colonne 3 -->
          <div class="col-md-4">
            <ol class="list-unstyled" start="17">
              <li class="d-flex justify-content-between">
                <span>Olives</span>
                <span class="fw-bold">7,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Noix</span>
                <span class="fw-bold">7,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Cotangente</span>
                <span class="fw-bold">7,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Engrain</span>
                <span class="fw-bold">8,60 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Diabètchic (IG 25, au kg)</span>
                <span class="fw-bold">9,20 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Abricots & Amandes</span>
                <span class="fw-bold">7,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Chocolat & Orange</span>
                <span class="fw-bold">7,90 €</span>
              </li>
              <li class="d-flex justify-content-between">
                <span>Datum</span>
                <span class="fw-bold">9,00 €</span>
              </li>
            </ol>
          </div>
        </div>
      </div>

    </div>
    <p class='text-center mt-5'>Des pains 100% bio, digestes et riches en goût, parfaits pour accompagner tous vos
      repas.</p>
  </section>

  <section class="container my-4">
    <div class="row">
      <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">

        <!-- Page précédente -->
        <a href="../pages/viennoiserie.html" class="text-decoration-none text-dark d-flex align-items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
          </svg>
          <span>Page précédente</span>
        </a>

        <!-- Page suivante -->
        <a href="../pages/pizza.html" class="text-decoration-none text-dark d-flex align-items-center gap-2">
          <span>Page suivante</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
          </svg>
        </a>

      </div>
    </div>
  </section>



  <!-- Footer -->
  <div class="container-fluid text-light mt-5 py-4 fade-in-up" style="background-color: #1E1916;">
    <div class="container">
      <div class="row gy-5 gx-5">

        <!-- CONTACT -->
        <div class="col-lg-4 col-md-6">
          <h3 class="text-light mb-4">Où nous trouver</h3>

          <div class="d-flex align-items-start gap-3 mb-3">
            <i class="fa fa-map-marker-alt fs-5 text-light"></i>
            <span>
              2448 Route de Saint Julien<br>
              69460 Blacé
            </span>
          </div>

          <div class="d-flex align-items-center gap-3 mb-3">
            <i class="fa fa-phone-alt fs-5 text-light"></i>
            <span>06 17 51 54 08</span>
          </div>

          <div class="d-flex align-items-center gap-3 mb-4">
            <i class="fa fa-envelope fs-5 text-light"></i>
            <span>didier.genetier7@gmail.com</span>
          </div>

          <div class="d-flex gap-2">
            <a class="btn btn-outline-light rounded-circle" href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light rounded-circle"
              href="https://www.facebook.com/profile.php?id=100068434713664&locale=es_LA">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light rounded-circle" href="#">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="btn btn-outline-light rounded-circle" href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>

        <!-- ESPACE VISUEL (desktop only) -->
        <div class="col-lg-1 d-none d-lg-block"></div>

        <!-- LINKS -->
        <div class="col-lg-3 col-md-6">
          <h4 class="mb-4">Liens</h4>
          <ul class="list-unstyled d-flex flex-column gap-2">
            <li><a class="text-light text-decoration-none" href="#">À propos</a></li>
            <li><a class="text-light text-decoration-none" href="#">Services</a></li>
            <li><a class="text-light text-decoration-none" href="#">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="container-fluid copyright text-light py-3 wow fadeIn bg-black " data-wow-delay="0.1s">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a href="#">Nom du site</a>, Tous droits réservés.
        </div>
        <div class="col-md-6 text-center text-md-end">
          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Design: <a href="">Jean-Michel CONTI</a>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="../../public/css/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>

</html>