<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produits: Pain</title>
  <link rel="shorcut icon" href="../../public/images/logo/panadero-64px.png">
  <link rel="stylesheet" href="../../public/css/bootstrap-5.3.8-dist/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="../../public/css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- Header & Navbar -->
  <header class='header bg-dark text-white fixed-top mb-5' style='z-index: 100;'>
    <nav class="navbar navbar-expand-lg bg-dark fw-bold">
      <div class="container-fluid">

        <a class="navbar-brand" href="../pages/home.html">
          <img src="../../public/images/logo/panadero-64px.png" alt="Bootstrap" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center me-5" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="../pages/home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/produits.html">Produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="../pages/contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Mini Navbar -->
  <nav class="mininav navbar navbar-expand-lg mt-5 pt-4">
    <div class="container-fluid">
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" href="../pages/home.html">Home |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="../pages/produits.html">Produits |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="./pizzas.html">Pizzas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Description -->
  <section class='pizza'>
    <div class="picture d-flex justify-content-center">
      <img src="../../public/images/produits/pexels-catscoming-367915-grande-2.jpg"
        class="img-fluid w-50 align-items-center" alt="...">
    </div>
    <div class="description text-center mt-5">
      <h1 class="text-center">Pizzas artisanales bio</h1>
      <p class="text-center"><strong>Des pizzas gourmandes, simples et authentiques</strong></p>
      <p class="text-center">
        Nos pizzas artisanales sont préparées à partir d’une pâte bio à fermentation lente, offrant une texture légère
        et savoureuse.
      </p>
      <p class="text-center">Garnies d’ingrédients biologiques soigneusement sélectionnés, elles allient générosité,
        <br>
        fraîcheur et
        équilibre
        des saveurs. Chaque pizza est préparée sur place, dans le respect des recettes traditionnelles.
      </p>
      <p class="text-center">Que vous aimiez les recettes classiques ou plus créatives, <br> nos pizzas sont idéales
        pour
        un repas convivial et gourmand, à déguster à tout moment de la journée.</p>
    </div>
  </section>



  <!-- Footer -->
  <div class="container-fluid text-light my-4 mb-0 py-3 fade-in-up mt-5" style="background-color: #1E1916;">
    <div class="container py-3">
      <div class="row g-5">
        <div class='col-lg-3 col-md-6'>
          <h3 class='text-light mb-3'>Où nous trouver</h3>
          <p class="mb-2" style="width: 150%;">
            <i class="fa fa-map-marker-alt me-3"></i>
            2448 Route de <br> Saint Julien 69460 Blacé
          </p>
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 6 17 51 54 08</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i> didier.genetier7@gmail.com</p>
          <div class='d-flex pt-2'>
            <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
            <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class='col-lg-3 col-md-6'>
          <h4 class='ms-2 mt-1'>Links</h4>
          <ul class="list-unstyled">
            <li><a class='btn btn-link text-light' style="text-decoration: none;" href="">About</a></li>
            <li><a class='btn btn-link text-light' style="text-decoration: none;" href="">Services</a></li>
            <li><a class='btn btn-link text-light' style="text-decoration: none;" href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="container-fluid copyright text-light py-3 wow fadeIn bg-black " data-wow-delay="0.1s">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a href="#">Nom du site</a>, Tous droits réservés.
        </div>
        <div class="col-md-6 text-center text-md-end">
          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Design: <a href="">Jean-Michel CONTI</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>